.header {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #484444;
  position: fixed;
  height: 100px;
  width: 1400px;
  z-index: 1;
  }

.btn_position{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 2.5rem;

}



.logo {
  
  height: 200px;
  width: 300px;
}

.btn_down{
  width: 150px;
}
.btn_reg{
  margin-left: 550px;
}
.perfil{
  margin-right: 50px;
}
