.cabecera{
  height: 100px;
  background-color: #484444;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  

}
.btn_non_user{
  -webkit-box-shadow: 9px 13px 19px -1px rgba(0,0,0,1);
  -moz-box-shadow: 9px 13px 19px -1px rgba(0,0,0,1);
  box-shadow: 9px 13px 19px -1px rgba(0,0,0,1);
  border: 1px solid white;
}

.logo{
  height: 200px;
}

.input-group{
width: 400px;
height: 30px;


}

.btn_reg_log{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  gap: 1rem;
}
.form-control{
  margin-left: -50px;
}
.btn-down-menu{
  -webkit-box-shadow: 9px 13px 19px -1px rgba(0,0,0,1);
  -moz-box-shadow: 9px 13px 19px -1px rgba(0,0,0,1);
  box-shadow: 9px 13px 19px -1px rgba(0,0,0,1);
  border: 1px solid white;
}
.btn_menu_user{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 1rem;
  z-index: 1;
  margin-left: 1080px;
  margin-top: -65px;
}
.svg-inline--fa {
  height: 2.3em;
  color: white;
}
