.header {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2e2b2b;
  color: black;
  height: 100px;
  max-width: 100%;
  }

.non_user{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 2.5rem;

}


* {
  text-decoration: none;
  list-style: none;
}

.logo {
  
  height: 200px;
  width: 300px;
  

}

