aside {
    width: 270px;
    letter-spacing: 1px;
    padding: 10px;
    color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    

}

.nav2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.category {
    margin-bottom: 1rem;
   

}

.btn_themes {

    width: 180px;

}
