:root{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17191f;
 
}
*{
  color: rgb(255, 255, 255);
}

.aside-main{
  display: flex;
  flex-direction: row;
  background-color: #17191f;
}
main{
  margin-left: 270px;
  min-height: calc(100vh - 100px);
  margin-bottom: -50px;
}
