:root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17191f;
    background-size: cover;
}
* {
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
}

.aside-main {
    display: flex;
    flex-direction: row;
    background-color: #17191f;
}
main {
    margin-left: 270px;
    min-height: 75vh;
    margin-bottom: -50px;
}
